/*
title color                         #212121 
text color                          #757575 
top line color                      #ECECEC
overlay color                       rgba(47, 48, 58, 0.4)
main background color               #FFFFFF 
secondary background color          #F5F5F5
order button active color           #188CE8
overlay background color            #C4C4C4
accent color                        #2196F3
white color                         #FFFFFF
black color                         #000000 
background order service footer     #2F303A
text color contact footer           rgba(255, 255, 255, 0.6)
project border color                #EEEEEE
width gap                           30px
social & client link color          #AFB1B8
footer soclink background           rgba(255, 255, 255, 0.1)
backgroround sevice title           rgba(47, 48, 58, 0.8)
background about project            rgba(33, 150, 243, 0.9)
backdrop background color           rgba(0, 0, 0, 0.2)
close button border                 rgba(0, 0, 0, 0.1)
form comment color                  rgba(117, 117, 117, 0.5)
form border color                   rgba(33, 33, 33, 0.2)
footer input background             rgba(255, 255, 255, 0.3);
anime                               250ms cubic-bezier(0.4, 0, 0.2, 1)
*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.active {
  color: #2196F3;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

ul,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

.link {
  text-decoration: none;
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

body {
  background-color: #FFFFFF;
  color: #757575;
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  min-width: 240px;
}

img {
  display: block;
}

.logo {
  display: block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}
.logo-first {
  color: #2196F3;
}
.logo__header {
  color: #000000;
}
.logo__footer {
  margin: 0 0 20px 0;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.button {
  padding: 10px 24px;
  color: #FFFFFF;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: #188CE8;
}
@media screen and (min-width: 1200px) {
  .button {
    padding: 10px 32px;
  }
}

.mobile-menu__button-close {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: transparent;
}

.mobile-menu__button-menu {
  width: 40px;
  height: 40px;
  top: 10px;
  right: 15px;
  padding: 0;
  border: none;
  background: none;
}
@media screen and (min-width: 768px) {
  .mobile-menu__button-menu {
    display: none;
  }
}

.mobile-menu__button-menu__icon {
  width: 40px;
  height: 40px;
}

.order__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer__button {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 28px;
}
@media screen and (min-width: 1200px) {
  .footer__button {
    margin: 0;
  }
}

.modal__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal__button-close {
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px;
  padding: 0;
  top: 8px;
  right: 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__icon-close {
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button {
  padding: 6px 22px;
  color: #212121;
  background-color: #F5F4FA;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.social-list {
  display: flex;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.social-list__item {
  width: 44px;
  height: 44px;
}
.social-list__link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: #AFB1B8;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: #2196F3;
  fill: #FFFFFF;
}
.social-list__icon {
  width: 20px;
  height: 20px;
}

.overlay {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;
  background-color: #C4C4C4;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
  }
}

@media screen and (min-width: 768px) {
  .employee-cards {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .employee-cards {
    max-width: 1200px;
  }
}
.employee-cards__item {
  max-width: 450px;
  height: 622px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .employee-cards__item {
    margin-bottom: 0;
    width: 354px;
    height: 536px;
  }
}
@media screen and (min-width: 1200px) {
  .employee-cards__item {
    width: 270px;
    height: 428px;
  }
}
.employee-cards-text {
  padding: 30px 0;
  text-align: center;
}

.employee-title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.employee-description {
  margin-bottom: 16px;
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
}

.clients__list {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .clients__list {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .clients__list {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  width: 210px;
  height: 92px;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: #2196F3;
  fill: #2196F3;
  border: 1px solid #2196F3;
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.footer__postal-address {
  color: #FFFFFF;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__postal-address:hover, .footer__postal-address:focus {
  color: #2196F3;
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  color: #2196F3;
}

.footer__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.project {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: hidden;
}
.project:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .project {
    width: 354px;
    height: 440px;
    margin-left: initial;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .project {
    width: 370px;
  }
}
.project__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__link:hover, .project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project__link:hover .project__about-text, .project__link:focus .project__about-text {
  transform: translateY(-100%);
}
.project__description {
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
.project__title {
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}
.project__about {
  position: relative;
  height: 294px;
  overflow: hidden;
}
.project__about-text {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  overflow: auto;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .project__about-text {
    padding: 49px 24px;
  }
}

.container {
  min-width: 200px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  border-bottom: 1px solid #ECECEC;
}
.header__main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 480px) {
  .header__main-nav {
    -moz-column-gap: 87px;
         column-gap: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .header__main-nav {
    -moz-column-gap: 92px;
         column-gap: 92px;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header__container {
    padding: 0;
  }
}
.header__contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__contacts {
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    align-items: center;
    -moz-column-gap: 30px;
         column-gap: 30px;
    flex-direction: row;
  }
}
.header__contacts-link {
  display: flex;
  align-items: center;
  color: #757575;
  fill: #757575;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .header__contacts-link {
    font-size: 14px;
    line-height: 1.14;
  }
}
.header__contacts-link:hover, .header__contacts-link:focus {
  color: #2196F3;
  fill: #2196F3;
}
.header__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__item {
  position: relative;
}
.header__menu {
  display: none;
}
.header__menu a:hover,
.header__menu a:focus {
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: flex;
    -moz-column-gap: 50px;
         column-gap: 50px;
    align-items: center;
  }
}
.header .active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background-color: #2196F3;
  border-radius: 2px;
}

.envelope,
.smartphone {
  margin-right: 10px;
}

.order-service {
  text-align: center;
}

.main__title {
  max-width: 360px;
  margin: 0 auto 30px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .main__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 768px) {
  .features {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    min-width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    flex-wrap: nowrap;
    align-items: normal;
    justify-content: normal;
  }
}

.feauteres__icons {
  width: 70px;
  height: 70px;
}

.features__background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.feature-title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .feature-title {
    text-align: start;
  }
}

.features__item {
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}

.feature-description {
  font-size: 14px;
  line-height: 1.7;
}

.services {
  display: none;
  padding-top: 0;
}
.services__title {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.14;
  text-align: center;
}
.services__subtitle {
  position: absolute;
  bottom: 0;
  width: 370px;
  padding: 27px 0;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
}
.services__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.services__item {
  position: relative;
}
@media screen and (min-width: 1200px) {
  .services {
    display: block;
  }
}

.team {
  background-color: #F5F4FA;
}
.team__title {
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.14;
    margin-bottom: 50px;
  }
}
.team img {
  max-width: 450px;
}

.clients__title {
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.18;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.14;
  }
}

.filter__list {
  display: flex;
  max-width: 326px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  -moz-column-gap: 8px;
       column-gap: 8px;
  row-gap: 15px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .filter__list {
    max-width: 768px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter__list {
    max-width: 1200px;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    display: flex;
    max-width: 738px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    max-width: 1200px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}
.footer__container {
  -moz-column-gap: 70px;
       column-gap: 70px;
  text-align: center;
  justify-content: space-between;
  align-items: baseline;
}
@media screen and (min-width: 768px) {
  .footer__container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    max-width: 1200px;
    text-align: start;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
  }
}
.footer .social-list__link {
  fill: #FFFFFF;
}
.footer__post {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__post {
    margin-bottom: 0;
  }
}
.footer__join {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__join {
    margin-bottom: 0;
  }
}

.modal__form-field {
  display: flex;
  flex-direction: column;
  height: 58px;
  margin-bottom: 10px;
}

.modal__form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 0.86;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__wrop {
  position: relative;
}

.modal__form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
}

.modal__form-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input,
.modal__form-textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.modal__form-textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.modal__form-textarea::-moz-placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-textarea:-ms-input-placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-textarea::placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.modal__icon-close:hover,
.modal__button-close:focus,
.modal__form-input:hover,
.modal__form-input:hover + .modal__form-icon,
.modal__form-input:focus,
.modal__form-input:focus + .modal__form-icon,
.modal__form-textarea:hover,
.modal__form-textarea:focus {
  cursor: pointer;
  border-color: #2196F3;
  fill: #2196F3;
}

.modal__form-check {
  margin-bottom: 30px;
  text-align: center;
}

.modal__check {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.modal__check:checked + .modal__icon-check {
  fill: #FFFFFF;
  background-color: #2196F3;
  border-color: #2196F3;
}

.modal__icon-check {
  margin-right: 8px;
  vertical-align: middle;
  border: 2px solid #212121;
  border-radius: 2px;
  fill: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-agreement {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.terms-agreement {
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .footer__form-subscribe {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form-subscribe {
    width: 570px;
  }
}

.footer__form-wrop {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .footer__form-wrop {
    display: flex;
    -moz-column-gap: 12px;
         column-gap: 12px;
    justify-content: space-between;
  }
}

.footer__form-input {
  width: 100%;
  max-width: 450px;
  margin-bottom: 20px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-contact-color);
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .footer__form-input {
    width: 358px;
    margin-bottom: 0;
  }
}

.icon-subscribe {
  fill: #FFFFFF;
  margin-left: 10px;
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear, transform 250ms linear;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(2);
}

.modal {
  display: flex;
  padding: 20px 0;
  height: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.modal__container {
  position: relative;
  /* position: absolute; */
  max-width: 528px;
  width: 100%;
  max-height: 581px;
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 4px;
  overflow-y: auto;
  padding: 40px;
}
.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.mobile-menu {
  outline: solid red;
  display: none;
  background: gray;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}/*# sourceMappingURL=main.css.map */