.container {
    // outline: 5px solid red;
    // max-width: 1200px;
    // width: 480px;
    min-width: 200px;
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (max-width: $mobile) {
        // min-width: 480px;
        // min-width: 768px;
    }
}