.features {

    // margin: 94px 0;
    // min-width: $tablet;
    @media screen and (min-width: $tablet) {
        // max-width: $tablet;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: $desktop) {
        // min-width: $desktop;
    }
}

.features__list {

    // display: flex;
    // align-items: center;
    // column-gap: 30px;
    // align-items: start;

    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: center;
        // column-gap: 30px;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }

    @media screen and (min-width: $desktop) {
        flex-wrap: nowrap;
        align-items: normal;
        justify-content: normal;
    }
}

.feauteres__icons {
    width: 70px;
    height: 70px;
}

.features__background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: $secondaryBackgroundColor;
    border-radius: 4px;
}

.feature-title {
    margin-bottom: 10px;
    color: $titleColor;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: $tablet) {
        text-align: start;
    }
}



.features__item {
    // width: 270px;
    width: 100%;

    // margin-bottom: 30px;
    &:not(:last-child) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: $tablet) {
        width: 354px;
        margin-bottom: 0;
    }

    @media screen and (min-width: $desktop) {
        width: 270px;
        // margin-bottom: 0;
    }
}

.feature-description {
    font-size: 14px;
    line-height: 1.7;
}