.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $footerBackgroundOrderService;
    &__container {
        display: flex;
        column-gap: 70px;
        justify-content: space-between;
        align-items: baseline;
    }
    .social-list__link {
        fill: $whiteColor;
    }
}