.gallery {

    // display: flex;
    // align-items: center;
    // flex-wrap: wrap;
    // gap: 30px;
    @media screen and (min-width: $tablet) {
        display: flex;
        max-width: 738px;
        margin-left: auto;
        margin-right: auto;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    @media screen and (min-width: $desktop) {
        max-width: $desktop;
    }

}