.team {
    background-color: $secondaryBackgroundColor;
    &__title {
        margin-bottom: 50px;
        color: $titleColor;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.14;
        text-align: center;
    }
}