.clients__list {
    display: flex;
    align-items: center;
    // column-gap: 30px;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (min-width: $mobile) {
        max-width: $mobile;
        margin-left: auto;
        margin-right: auto;
        // justify-content: center;
    }

    @media screen and (min-width: $tablet) {
        max-width: $tablet;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: $desktop) {
        max-width: $desktop;
        margin-left: auto;
        margin-right: auto;
    }
}

.clients__link {
    display: flex;
    justify-content: center;
    // width: 170px;
    width: 210px;
    height: 92px;
    fill: $socialClientLinkColor;
    border: 1px solid $socialClientLinkColor;
    border-radius: 4px;
    transition: color $anime, fill $anime, border $anime;

    &:hover,
    &:focus {
        color: $accentColor;
        fill: $accentColor;
        border: 1px solid $accentColor;
    }

    @media screen and (min-width: $desktop) {
        width: 170px;
    }

}