.employee-cards {


    // display: flex;
    // align-items: center;
    // flex-direction: column;
    // column-gap: 30px;
    // width: 270px;
    // max-width: 450px;
    @media screen and (min-width: $tablet) {
        max-width: $tablet;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    @media screen and (min-width: $desktop) {
        max-width: $desktop;

    }

    @media screen and (min-width: $desktop) {

        // align-items: center;
        // flex-direction: column;

        // width: 354px;
        // width: 270px;
    }

    &__item {

        // max-width: 450px;
        // height: 622px;
        // &:not(:last-child) {
        //     margin-bottom: 30px;
        // }

        // margin-left: auto;
        // margin-right: auto;
        background-color: $mainBackgroundColor;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;

        @media screen and (min-width: $tablet) {
            margin-bottom: 0;
            // width: 354px;
            // height: 536px;
        }

        @media screen and (min-width: $desktop) {
            // min-width: $desktop;
            width: 270px;
            height: 428px;
        }

        &:not(:last-child) {
            margin-bottom: 30px;

            @media screen and (min-width: $tablet) {
                margin-bottom: 0;
            }
        }


    }

    // &__item:not(:last-child) {
    //     margin-bottom: 30px;

    //     @media screen and (min-width: $tablet) {
    //         margin-bottom: 0;
    //     }
    // }

    &-text {
        padding: 30px 0;
        text-align: center;
    }
}

// .employee-cards li:not(:last-child) {
//     margin-bottom: 30px;
// }

// &:not(:last-child) {
//     margin-bottom: 30px;
// }

.employee-title {
    margin-bottom: 10px;
    color: $titleColor;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.employee-description {
    margin-bottom: 16px;
    color: $texCcolor;
    font-size: 16px;
    line-height: 1.19;
}