.logo {
    display: block;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    &-first {
        color: $accentColor;
    }
    &__header {
        margin-right: 93px;
        color: $blackColor;
    }
    &__footer {
        margin: 0 0 20px 0;
        color: $whiteColor;
    }
}