.overlay {
    // max-width: 1600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    // padding: 200px 0;
    padding: 118px 0;
    background-color: $overlayBackgroundColor;
    // background-image: linear-gradient(to right, $overlayClor, $overlayClor), url(../images/overlay.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (min-width: $desktop) {
        max-width: 1600px;
        height: 600px;
        padding: 200px 0;
    }

    @media screen and (max-width: 767px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay-mobile.jpg);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/overlay-mobile@2x.jpg);
        }
    }

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/overlay-tablet.jpg);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/overlay-tablet@2x.jpg);
        }
    }

    @media screen and (min-width: 1200px) {
        padding: 200px 0;
        max-width: 1600px;
        height: 600px;

        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/overlay-desktop.jpg);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/overlay-desktop@2x.jpg);
        }
    }

}