ul,
p {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

.link {
    text-decoration: none;
}

.section {
    // padding-top: 94px;
    // padding-bottom: 94px;
    padding: 60px 0;
}